<form action="/upload/file" method="post" enctype="multipart/form-data">
    <input type="text" name="description" value="some text">
    <input type="file" id="file" name="file">
    <button type="submit">Submit</button>
</form>